<%- include("partials/header.ejs") %>

<body>
  <script>
    function storeSelection(selectedDash) {
      if (typeof(Storage) !== "undefined") {
        // Code for localStorage/sessionStorage.
        localStorage.setItem("mySelection", JSON.stringify(selectedDash));
        console.log(selectedDash);
      } else {
        // Sorry! No Web Storage support..
        console.log("No Web Storage!");
      }
    }
    storeSelection(<%- JSON.stringify(selectedDash) %>);

  </script>

  <div class="titleBlock">
    <img class="logo" src="https://cdn.onlinewebfonts.com/svg/img_81173.svg" alt="Dashboard icon">
    <h1>DashBoardSG</h1>
  </div>

  <div class="container text-center">
    <div class="row align-items-center">
      <% Object.keys(selectedDash).forEach(key => { %>
        <div class="card col">
          <strong><%= selectedDash[key].title %></strong>
          <% if (selectedDash[key].value.length > 10) { %>
            <div class="value smallFont"><%= selectedDash[key].value %>
              <span class="unit"><%= selectedDash[key].unit %></span>
            </div>
          <% } else if (selectedDash[key].value.length > 5) { %>
            <div class="value mediumFont"><%= selectedDash[key].value %>
              <span class="unit"><%= selectedDash[key].unit %></span>
            </div>
          <% } else { %>
            <div class="value largeFont"><%= selectedDash[key].value %>
              <span class="unit"><%= selectedDash[key].unit %></span>
            </div>
          <% } %>
          <div class="subcaption"><%= selectedDash[key].location %> <%= selectedDash[key].timeValid %></div>
        </div>
      <% }) %>
      <div><br><br><br></div>
    </div>
  </div>

</body>

<%- include("partials/footer.ejs") %>
